<div class="p-10">
    @if(cart().items.length < 1){
        <p>there's nothing in your cart yet</p>
        <a routerLink="" class="underline">continue shopping</a>
    } @else {
        @for(item of cart().items; track item.name) {
            <div class="flex flex-col rounded-md bg-slate-400 w-auto h-auto p-5 m-5">
                <p>Id: {{item.id}}</p>
                <p>Name: {{item.name}}</p>
                <div>
                    <label for="isRound">is round? </label>
                    <input id="isRound" type="checkbox" [checked]="item.isRound" (click)="false"/>
                </div>
                <p>Price: {{item.price}}</p>
            </div>
        }
    }
</div>